@model DailyGospel.Models.Calendar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Calendar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameMass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameMass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstReading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstReading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondReading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondReading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gospel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gospel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
